<html><head><title>activate.component.html</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="sourcestyles.css" />
</head><body link="blue" vlink="blue">
<h3>File: C:\Users\alejandro.finkelberg\dvl\jhipster\monolitos\jh6-demo\src\main\webapp\app\account\activate\activate.component.html</h3>
<SCRIPT>
defaultStatus = "File: C:\\Users\\alejandro.finkelberg\\dvl\\jhipster\\monolitos\\jh6-demo\\src\\main\\webapp\\app\\account\\activate\\activate.component.html";
top.document.title  = "activate.component.html";
</SCRIPT>
<pre><span class="default"></span><a name="1"><font size=-1>1     </font></a><span class="default">&lt;div&gt;</span>
<a name="2"><font size=-1>2     </font></a><span class="default">    &lt;div class=</span><span class="string">&quot;row justify-content-center&quot;</span><span class="default">&gt;</span>
<a name="3"><font size=-1>3     </font></a><span class="default">        &lt;div class=</span><span class="string">&quot;col-md-8&quot;</span><span class="default">&gt;</span>
<a name="4"><font size=-1>4     </font></a><span class="default">            &lt;h1 jhiTranslate=</span><span class="string">&quot;activate.title&quot;</span><span class="default">&gt;</span><span class="string">Activation</span><span class="default">&lt;/h1&gt;</span>
<a name="5"><font size=-1>5     </font></a><span class="default"></span>
<a name="6"><font size=-1>6     </font></a><span class="default">            &lt;div class=</span><span class="string">&quot;alert alert-success&quot; </span><span class="default">*ngIf=</span><span class="string">&quot;success&quot;</span><span class="default">&gt;</span>
<a name="7"><font size=-1>7     </font></a><span class="default">                &lt;span jhiTranslate=</span><span class="string">&quot;activate.messages.success&quot;</span><span class="default">&gt;&lt;strong&gt;</span><span class="string">Your user account has been activated.</span><span class="default">&lt;/strong&gt; </span><span class="string">Please </span><span class="default">&lt;/span&gt;</span>
<a name="8"><font size=-1>8     </font></a><span class="default">                &lt;a class=</span><span class="string">&quot;alert-link&quot; </span><span class="default">(click)=</span><span class="string">&quot;login()&quot; </span><span class="default">jhiTranslate=</span><span class="string">&quot;global.messages.info.authenticated.link&quot;</span><span class="default">&gt;</span><span class="string">sign in</span><span class="default">&lt;/a&gt;</span><span class="string">.</span>
<a name="9"><font size=-1>9     </font></a><span class="string">            </span><span class="default">&lt;/div&gt;</span>
<a name="10"><font size=-1>10     </font></a><span class="default"></span>
<a name="11"><font size=-1>11     </font></a><span class="default">            &lt;div class=</span><span class="string">&quot;alert alert-danger&quot; </span><span class="default">*ngIf=</span><span class="string">&quot;error&quot; </span><span class="default">jhiTranslate=</span><span class="string">&quot;activate.messages.error&quot;</span><span class="default">&gt;</span>
<a name="12"><font size=-1>12     </font></a><span class="default">                &lt;strong&gt;</span><span class="string">Your user could not be activated.</span><span class="default">&lt;/strong&gt; </span><span class="string">Please use the registration form to sign up.</span>
<a name="13"><font size=-1>13     </font></a><span class="string">            </span><span class="default">&lt;/div&gt;</span>
<a name="14"><font size=-1>14     </font></a><span class="default"></span>
<a name="15"><font size=-1>15     </font></a><span class="default">        &lt;/div&gt;</span>
<a name="16"><font size=-1>16     </font></a><span class="default">    &lt;/div&gt;</span>
<a name="17"><font size=-1>17     </font></a><span class="default">&lt;/div&gt;</span>
<a name="18"><font size=-1>18     </font></a><span class="default"></span>
</pre></body></html>
